@{
    ViewData["Title"] = "Booking Confirmation";
}

<h1>Booking Confirmation</h1>

<p>Your seat(s) have been successfully booked!</p>
<p>Thank you for choosing our service.</p>

<p class="card-text">
    <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@TempData["MovieId"]">
        <i class="bi bi-eye-fill"></i> Show Details
    </a>
    <a class="btn btn-success text-white"
       asp-controller="Orders"
       asp-action="AddItemToShoppingCart"
       asp-route-id="@TempData[" MovieId"]">
        <i class="bi bi-cart-plus"></i> Add to Cart (Price @TempData["realPrice"].ToString())
    </a>

     
</p>
