@using eTickets.Data.ViewModels; 
@model ForgotPasswordVM;
@{
    ViewData["Title"] = "forgotPassword";
}




<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Reset Your Password</h4>
        </p>

        @if (TempData["Error"] != null)
        {
                    <div class="col-md-12 alert alert-danger">
                        <span><b>Sorry!</b> - @TempData["Error"] </span>
                    </div>
        }

        <div class="row">
            @{

                if (Model?.mailFlag==true)
                {
                    <div class="alert alert-success" role="alert">
                    <p>We have sucessfully sent you a mail to reset your password!!<br />Please check your mail.</p>
                    </div>
                }
                else
                {

                        <div class="col-md-8 offset-2">
                            <form asp-action="forgotPassword">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="EmailAddress" class="control-label"></label>
                                    <input asp-for="EmailAddress" class="form-control" />
                                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input class="btn btn-outline-success float-right" type="submit" value="Submit" />
                                    <a class="btn btn-outline-secondary" asp-controller="Movies" asp-action="Index">Cancel</a>
                                </div>
                            </form>

                        </div>
                }
            }
            
        </div>
    </div>
</div>